'Senior Full Stack Developer (Platform)'
'Software Engineer (Support)'
'Senior Software Engineer / Cloud engineer (Platform)'
'Full stack developer (ASF)'
'Support/Test Engineer (Managed Services)'
'DevOps Team Lead into Managed Services (Managed Services)'
'Frontend developer (Platform)'
'Middle Full stack developer (Platform)'
'DevOps/Build Engineer into Managed Services (Managed Services)'
'QA Engineer (Platform)', 'Scrum Master (Platform)'
'QA Engineer (ASF)'
'Test Automation Engineer (Platform)'
'DevOps/Cloud Engineer into Managed Services (Managed Services)'
'Middle/ Senior DevOps Engineer (Platform)'
'DevOps Manager (Platform)'
'Test Automation Manager (Platform)'
